body {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header{
    background-color:whitesmoke
}

.footer{
    text-align:center;
}

.imgAlign {
    width: 382px;
    height: 299px;
}



.textWarn {
    color:red;
}
